[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "visual.kaito"]
	path = visual.kaito
	url = https://github.com/gygpsicologos-eng/visual.kaito
